.main-container {
    margin-bottom: 100px;
}

.main-container h2 {
    margin: 10px 150px;
}

.activity-area {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.personal-area {
    background-color: rgba(228, 226, 226, 0.658);
    border-radius: 10px;
    margin-right: 50px;
}

.personal-area .personal-info {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.main-container .activity-area .physical-info {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 10px;
}

.main-container .activity-area .break-time {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    margin: 20px;
    padding: 25px;
    border-radius: 10px;
}

.main-container .activity-area .break-time .add-btn {
    border-radius: 50%;
    padding: 14px 7px;
}

.main-container .activity-area .study-time {
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.main-container .activity-area .break-time .add-btn:hover {
    background-color: green;
    color: #FFFFFF;
}

.personal-area .personal-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0px 150px;
}

.main-container .personal-area h1 {
    text-align: center;
    border: 2px solid #004D88;
    padding: 5px 0px;
    border-radius: 40px;
    color: #004D88;
}

.main-container .activity-area .personal-area .btn-completed {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #004D88;
    font-size: large;
    border: none;
}

.main-container .activity-area .personal-area .btn-completed:hover {
    background-color: green;
}

.main-container .question-part {
    margin-top: 50px;
}

.main-container .question-part .question {
    width: 70%;
    margin-left: 150px;
}

/* Media queries added */
@media only screen and (max-width: 1800px) {
    .activity-area {
        grid-template-columns: 3fr 2fr;
    }

    .main-container h2 {
        margin: 10px 80px;
    }

    .books-container {
        grid-template-columns: repeat(3, 1fr);
        margin: 0px 80px;
    }
}

@media only screen and (max-width: 1400px) {
    .activity-area {
        grid-template-columns: 3fr 2fr;
    }

    .main-container h2 {
        margin: 10px 30px;
    }

    .books-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .activity-area {
        grid-template-columns: 3fr 2fr;
    }

    .main-container h2 {
        margin: 10px 60px;
    }

    .books-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 60px;
    }
}

@media only screen and (max-width: 700px) {
    .activity-area {
        /* grid-template-columns: 1fr 1fr; */
        display: block;

    }

    .main-container .question-part .question {
        margin-left: 10px;
    }

    .main-container h2 {
        margin: 10px 10px;
    }

    .personal-area {
        margin-right: 0px;
        margin: 10px;
    }

    .books-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 10px;
    }
}