.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0px 200px;
}

@media only screen and (max-width: 1800px) {
    .books-container {
        grid-template-columns: repeat(3, 1fr);
        margin: 0px 80px;
    }
}

@media only screen and (max-width: 1500px) {
    .books-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .books-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 60px;
    }
}

@media only screen and (max-width: 700px) {
    .books-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 10px;
    }
}