.book-area {
    width: 360px;
    height: 500px;
    border: 1px solid gainsboro;
    border-radius: 10px;

}

.book-area img {
    width: 340px;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
}

.book-area .book-info {
    padding: 0px 10px;
}